@import "../utils/vars";
@import "../utils/fonts";
@import "../utils/mixins";

.header {
  background-color: $default-color;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  padding-left: 9%;
  padding-right: 9%;
}

.header__nav {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header__menu {
  display: flex;
  padding-top: 4%;
  padding-bottom: 12%;

}

.header__menu__item a {
  margin-right: 10px;
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: $mainFontColor;
  text-transform: uppercase;
}

.header__menu li:last-child {
  margin-right: none;
}

.header__content {
  position: relative;
}

.header__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}


.header__text {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  text-transform: capitalize;
  position: absolute;
}

/// Left hemisphere
.header__content p:nth-of-type(1) {
  top: 5%;
  right: 84%;
  font-size: 2.25rem;
  color: $mainFontColor;

}

.header__content p:nth-of-type(2) {
  top: 20%;
  right: 86%;
  font-size: 2.25rem;
  color: $mainFontColor;
}

.header__content p:nth-of-type(3) {
  top: 35%;
  right: 90%;
  font-size: 2.25rem;
  color: $mainFontColor;
}

.header__content p:nth-of-type(4) {
  top: 50%;
  right: 94%;
  font-size: 1.5rem;
  color: $mainFontColor;
}

.header__content p:nth-of-type(5) {
  top: 65%;
  right: 93%;
  font-size: 2.25rem;
  color: $mainFontColor;
}

.header__content p:nth-of-type(6) {
  top: 80%;
  right: 90%;
  font-size: 1.5rem;
  color: $mainFontColor;
}

.header__content p:nth-of-type(7) {
  top: 90%;
  right: 85%;
  font-size: 2.25rem;
  color: $mainFontColor;
}

//// Right Hemisphere

.header__content p:nth-of-type(8) {
  top: 5%;
  left: 84%;
  font-size: 2.25rem;
  color: $primary-color;
}

.header__content p:nth-of-type(9) {
  top: 20%;
  left: 86%;
  font-size: 2.25rem;
  color: $primary-color;
}

.header__content p:nth-of-type(10) {
  top: 35%;
  left: 90%;
  font-size: 1.5rem;
  color: $primary-color;
}

.header__content p:nth-of-type(11) {
  top: 50%;
  left: 94%;
  font-size: 2.25rem;
  color: $primary-color;
}

.header__content p:nth-of-type(12) {
  top: 64%;
  left: 93%;
  font-size: 3rem;
  color: $primary-color;
}

.header__content p:nth-of-type(13) {
  top: 80%;
  left: 90%;
  font-size: 2.25rem;
  color: $primary-color;
}

.header__content p:nth-of-type(14) {
  top: 90%;
  left: 85%;
  font-size: 1.5rem;
  color: $primary-color;
}


/// media 

// @media only screen and (max-width: 1024px) {
//   html {
//     font-size: 2px;

//   }

//   .header__menu {
//     padding-bottom: 40%;

//   }

//   .header__image {
//     width: 80%;
//   }

//   /// Left hemisphere
//   .header__content p:nth-of-type(1) {
//     top: 20%;
//     right: 64%;
//     font-size: 3rem;
//     color: $mainFontColor;

//   }

//   .header__content p:nth-of-type(2) {
//     top: 28%;
//     right: 69%;
//     font-size: 2.25rem;
//     color: $mainFontColor;
//   }

//   .header__content p:nth-of-type(3) {
//     top: 36%;
//     right: 69%;
//     font-size: 2.25rem;
//     color: $mainFontColor;
//   }

//   .header__content p:nth-of-type(4) {
//     top: 44%;
//     right: 72%;
//     font-size: 1.5rem;
//     color: $mainFontColor;
//   }

//   .header__content p:nth-of-type(5) {
//     top: 52%;
//     right: 72%;
//     font-size: 3rem;
//     color: $mainFontColor;
//   }

//   .header__content p:nth-of-type(6) {
//     top: 60%;
//     right: 70%;
//     font-size: 1.5rem;
//     color: $mainFontColor;
//   }

//   .header__content p:nth-of-type(7) {
//     top: 68%;
//     right: 66%;
//     font-size: 3rem;
//     color: $mainFontColor;
//   }

//   //// Right Hemisphere

//   .header__content p:nth-of-type(8) {
//     top: 20%;
//     left: 64%;
//     font-size: 3rem;
//     color: $primary-color;
//   }

//   .header__content p:nth-of-type(9) {
//     top: 28%;
//     left: 69%;
//     font-size: 3rem;
//     color: $primary-color;
//   }

//   .header__content p:nth-of-type(10) {
//     top: 36%;
//     left: 71%;
//     font-size: 1.5rem;
//     color: $primary-color;
//   }

//   .header__content p:nth-of-type(11) {
//     top: 44%;
//     left: 73%;
//     font-size: 2.25rem;
//     color: $primary-color;
//   }

//   .header__content p:nth-of-type(12) {
//     top: 52%;
//     left: 71%;
//     font-size: 3rem;
//     color: $primary-color;
//   }

//   .header__content p:nth-of-type(13) {
//     top: 60%;
//     left: 69%;
//     font-size: 2.25rem;
//     color: $primary-color;
//   }

//   .header__content p:nth-of-type(14) {
//     top: 68%;
//     left: 68%;
//     font-size: 1.5rem;
//     color: $primary-color;
//   }
// }
