/* Fonts:
   https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
   ========================================================================== */

@import "mixins";

/*
  Сhoose one of the ways:
    1. handle menthod,
    2. use mixin;
*/

// 1. Example handle menthod (without mixin):

/*
  // Base Helvetica (example):
  @font-face {
    font-family: "Helvetica-Base";
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot'); // IE9 Compat Modes
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.woff') format('woff'), // Pretty Modern Browsers
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.ttf')  format('truetype'), // Safari, Android, iOS
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.svg') format('svg'); // Legacy iOS
  }
*/

// 2. Example with mixin (example):
// NOTE: do NOT use expansion (.woff, .svg etc) for path! Path will be '/assets/fonts/OpenSans/opensans';
// NOTE-2: files required: `.woff, .woffs` (by default) OR `eot. .woff, .woffs, .svg, .ttf` if you use another mixin;

// Base OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensans");
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanslight", 300);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanssemibold", 600);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansbold", bold);

// Italic OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansItalic", 400, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansLightItalic", 300, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansSemiBoldItalic", 600, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansBoldItalic", bold, italic);


/* eb-garamond-regular - latin */
// @font-face {
//   font-family: 'EB Garamond';
//   font-style: normal;
//   font-weight: 400;
//   src: local(''),
//     url('/fonts/eb-garamond-v13-latin-regular.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('/fonts/eb-garamond-v13-latin-regular.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// /* eb-garamond-600 - latin */
// @font-face {
//   font-family: 'EB Garamond';
//   font-style: normal;
//   font-weight: 600;
//   src: local(''),
//     url('/fonts/eb-garamond-v13-latin-600.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('/fonts/eb-garamond-v13-latin-600.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// /* eb-garamond-500 - latin */
// @font-face {
//   font-family: 'EB Garamond';
//   font-style: normal;
//   font-weight: 500;
//   src: local(''),
//     url('/fonts/eb-garamond-v13-latin-500.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('/fonts/eb-garamond-v13-latin-500.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// /* eb-garamond-700 - latin */
// @font-face {
//   font-family: 'EB Garamond';
//   font-style: normal;
//   font-weight: 700;
//   src: local(''),
//     url('/fonts/eb-garamond-v13-latin-700.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('/fonts/eb-garamond-v13-latin-700.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// /* eb-garamond-800 - latin */
// @font-face {
//   font-family: 'EB Garamond';
//   font-style: normal;
//   font-weight: 800;
//   src: local(''),
//     url('/fonts/eb-garamond-v13-latin-800.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('/fonts/eb-garamond-v13-latin-800.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }


// /* oswald-200 - latin */
// @font-face {
//   font-family: 'Oswald';
//   font-style: normal;
//   font-weight: 200;
//   src: local(''),
//     url('/fonts/oswald-v31-latin-200.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('/fonts/oswald-v31-latin-200.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// /* oswald-regular - latin */
// @font-face {
//   font-family: 'Oswald';
//   font-style: normal;
//   font-weight: 400;
//   src: local(''),
//     url('/fonts/oswald-v31-latin-regular.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('/fonts/oswald-v31-latin-regular.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// /* oswald-300 - latin */
// @font-face {
//   font-family: 'Oswald';
//   font-style: normal;
//   font-weight: 300;
//   src: local(''),
//     url('/fonts/oswald-v31-latin-300.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('/fonts/oswald-v31-latin-300.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// /* oswald-500 - latin */
// @font-face {
//   font-family: 'Oswald';
//   font-style: normal;
//   font-weight: 500;
//   src: local(''),
//     url('/fonts/oswald-v31-latin-500.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('/fonts/oswald-v31-latin-500.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// /* oswald-700 - latin */
// @font-face {
//   font-family: 'Oswald';
//   font-style: normal;
//   font-weight: 700;
//   src: local(''),
//     url('/fonts/oswald-v31-latin-700.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('/fonts/oswald-v31-latin-700.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// /* oswald-600 - latin */
// @font-face {
//   font-family: 'Oswald';
//   font-style: normal;
//   font-weight: 600;
//   src: local(''),
//     url('/fonts/oswald-v31-latin-600.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('/fonts/oswald-v31-latin-600.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
